		<div class="col-3 mr-5">
			<h2>User info</h2>
			<%= image_tag user.get_profile_image(100,100) %>
			<table class="table">
				<tr>
					<th>name</th>
					<th><%= user.name %></th>
				</tr>
				<tr>
					<th>introduction</th>
					<th><%= user.introduction %></th>
				</tr>
			</table>
			<%= link_to(edit_user_path(current_user)) do %>
				<button class="btn btn-outline-secondary btn-block btn-sm mb-3">
					<i class="fas fa-user-cog"></i>
				</button>
			<% end %>

			<div class="mx-auto"><h2>New book</h2>
			<%= form_with model: Book.new do |f| %>
				<h5>Title</h5>
				<%= f.text_field :title, class: 'form-control mb-3' %>
				<h5>Opinion</h5>
				<%= f.text_area :body, class: 'form-control mb-3' %>
				<%= f.submit 'Create Book', class: 'btn btn-success' %>
			<% end %>
			</div>
		</div>