<% if book.favorited_by?(current_user) %>
	<td class="favorite-btn">
		<%= link_to book_favorites_path(book), method: :delete, remote: true do %>
			<!--<% if book.favorites.count == 0 %>-->
				<!--<p>♥<%= book.favorites.count %></p>-->
			<!--<% else %>-->
				<p class="text-danger">♥<%= book.favorites.count %></p>
			<!--<% end %>-->
		<% end %>
	</td>
<% else %>
	<td class="favorite-btn">
		<%= link_to book_favorites_path(book), method: :post, remote: true do %>
			<!--<% if book.favorites.count == 0 %>-->
				<p>♥<%= book.favorites.count %></p>
			<!--<% else %>-->
				<!--<p class="text-danger">♥<%= book.favorites.count %></p>-->
			<!--<% end %>-->
		<% end %>
	</td>
<% end %>
<td class="comments-count">
	<p>コメント件数:<%= book.book_comments.count %></p>
</td>