<div class="container">
	<div class="row">
		<div class="col-3 mr-5">
			<h2>User info</h2>
			<%= image_tag @user.get_profile_image(100,100) %>
			<table class="table">
				<tr>
					<th>name</th>
					<th><%= @user.name %></th>
				</tr>
				<tr>
					<th>introduction</th>
					<th><%= @user.introduction %></th>
				</tr>
			</table>
			<%= link_to(edit_user_path(current_user)) do %>
				<button class="btn btn-outline-secondary btn-block btn-sm mb-3">
					<i class="fas fa-user-cog"></i>
				</button>
			<% end %>

			<h2>New book</h2>

			<% if flash[:error] %>
				<h3 class="error" >error!</h3>
				<ul>
					<% flash[:error].each do |message| %>
						<li><%= message %></li>
					<% end %>
				</ul>
			<% end %>

			<%= form_with model: Book.new do |f| %>
				<h5>Title</h5>
				<div class="mb-3"><%= f.text_field :title %></div>
				<h5>Opinion</h5>
				<div class="mb-3"><%= f.text_area :body %></div>
				<%= f.submit 'Create Book', class: 'btn btn-success' %>
			<% end %>
		</div>

		<div class="col-8">
			<h2>Books</h2>
			<table class="table">
				<tr>
				<th></th>
				<th>Title</th>
				<th>Opinion</th>
				</tr>
				<% @books.each do |book| %>
					<tr>
						<td class="col-2">
							<%= link_to(book_path(book.id)) do %>
								<%= image_tag book.get_image %>
							<% end %>
						</td>
						<td>
							<%= link_to(book_path(book.id)) do %>
								<%= book.title %>
							<% end %>
						</td>
						<td>
							<%= book.body %>
						</td>
					</tr>
				<% end %>
			</table>
		</div>
	</div>
</div>