<div class="container">
	<div class="row">
		<%= render 'users/info', user: @user %>
		<div class="col-md-8 offset-md-1">
			<h2>Book detail</h2>
			<table class="table">
				<tr id="book_<%= @book.id %>">
					<td class="col-md-2">
						<%= link_to(user_path(@book.user_id)) do %>
							<%= image_tag @book.get_image %>
							<%= @book.user.name %>
						<% end %>
					</td>
					<td>
						<%= link_to(book_path(@book.id)) do %>
							<%= @book.title %>
						<% end %>
					</td>
					<td>
						<%= @book.body %>
					</td>
					<% if @book.user == current_user %>
					<td>
						<%= link_to(edit_book_path(@book.id)) do %>
							<button class="btn btn-success">Edit</button>
						<% end %>
					</td>
					<td>
						<%= link_to(book_path(@book.id), method: :delete, data: {confirm: '本当に消しますか？'}) do %>
							<button class="btn btn-danger">Destroy</button>
						<% end %>
					</td>
					<% else %>
						<%= render 'favorite', book: @book %>
					<% end %>
				</tr>
			</table>
			<table class="table">
				<tr>
				<% @book.book_comments.each do |book_comment| %>
					<td>
						<%= image_tag @book.user.get_profile_image(100,100) %>
						<p><%= book_comment.user.name %></p>
					</td>
					<td>
					<%= book_comment.comment %>
					</td>
					<td>
						<% if book_comment.user == current_user %>
							<%= link_to(book_book_comment_path(book_comment.book, book_comment), method: :delete) do %>
								<button class="btn btn-danger">Destroy</button>
						<% end %>
					<% end %>
					</td>
				<% end %>
				</tr>
			</table>
			<%= form_with model: [@book, @book_comment], local: false do |f| %>
				<%= f.text_area :comment, class: 'form-control' %>
				<%= f.submit '送信' %>
			<% end %>
		</div>
	</div>
</div>
